<div class="all-container">
  <div class="high-container">
    <h1>RLMap</h1>
  </div>
  <div class="low-container">
    <div class="features">
      <div class="feature">
        <button class="button" (click)="createNewMap()">Create new map</button>  
      </div>
      <div class="feature">
        <label for="file-upload" class="button" >
          Upload your replay
        </label>
        <input id="file-upload" type="file" class="button"/> 
      </div>
    </div>
    <div class="donate">
      <button class="donate-btn button" (click)="donate()">Donate</button>
      <p>* All funds received through donations will be invested directly into the ongoing development of our website *</p>
    </div>
  </div>
</div>
