.high-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  background: url("../../../assets/layered-waves.svg") no-repeat center bottom/cover;
}

.high-container h1 {
  margin-bottom: 50vh;
  font-size: 700%;
  padding-top: 1vh;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(238, 95, 95);
  border-radius: 50%;
}

.low-container {
  height: 100vh;
  background: url("../../../assets/waves-rocky-lava.svg") no-repeat center top/cover;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10vh;
}

@media (max-width: 600px) {
  .features {
    flex-direction: column;
    align-items: center;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature * {
  font-size: 200%;
  margin-bottom: 10vh;
}
