.high-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../../../assets/layered-waves.svg") no-repeat center bottom/cover;
}

.high-container h1 {
  margin-bottom: 35vh;
  font-size: 500%;
  padding-top: 5vh;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px;
  border-color: #f98d2e;
  border-style: solid;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  padding: 25px;
  background-color: rgb(255, 255, 255);
  font-family: "Lemon", cursive;
}

button:hover {
  background-color: #575757;
}

button:active {
  background-color: #fad269;
}

.low-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: url("../../../assets/waves-rocky-lava.svg") no-repeat center top/cover;
}

.features {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 40vh;
}

@media (max-width: 600px) {
  .features {
    flex-direction: column;
    align-items: center;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.feature *:not(p) {
  font-size: 200%;
  text-align: center;
  box-shadow: 0px 0px 30px 0px #575757;
}

input[type="file"] {
  display: none;
}

.donate {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.donate-btn {
  font-size: 200%;
  width: 25vw;
  text-align: center;
  box-shadow: 0px 0px 30px 0px #f98d2e;
}