<!-- <div id="videoContainer">
  <video [hidden]="!this.isEe" #ee muted (ended)="onVideoEnded()" id="ee">
    <source src="assets/car_movingaround_EE.mp4" type="video/mp4" />
  </video>
  <video #myVideo muted loop id="myVideo">
    <source src="assets/vidBackgroundSkyBlue_.mp4" type="video/mp4" />
  </video>
</div> -->
<div (click)="playVideo()" class="all-container">
  <div class="high-container">
    <h1>Rocket League Bird View</h1>
  </div>
  <div class="low-container">
    <div class="features">
      <div class="feature">
        <button class="button" (click)="createNewMap()">Fly</button>
        <p class="title">* Strategize and create *</p>
      </div>
      <div class="bakkes">
        <div class="feature">
          <p *ngIf="isConnected == 0" class="warning">Connecting...</p>
          <p *ngIf="isConnected == 1" class="warning">Connected !</p>
          <p *ngIf="isConnected == 2" class="warning">
            Please check if Bakkesmod plugin is installed and running
          </p>
          <button
            [ngClass]="{
              pending: isConnected == 0,
              connected: isConnected == 1,
              disconnected: isConnected == 2
            }"
            class="button"
            (click)="
              isConnected == 1
                ? runReplay()
                : isConnected == 2
                ? checkConnection()
                : null
            "
          >
            Leap
          </button>
          <p class="title">* BETA: BakkesMod's plugin | RLBV *</p>
        </div>
        <div class="check">
          <button #buttonRef class="button" (click)="openInfo()">🛈</button>
          <button
            class="button"
            *ngIf="isConnected == 2"
            (click)="checkConnection()"
          >
            🗘
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
