.all-container {
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
z-index: 1;
font-family: "Kanit", sans-serif;
background-image: url(../../../assets/20230815183310_1.jpg);
background-attachment: fixed; /* This will fix your background image */
background-size: cover; /* This will make sure the image covers the entire container */
background-position: center; 

}

#ee {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -800;
  transform: translateX(-50%) translateY(-50%);
}

#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -900;
  transform: translateX(-50%) translateY(-50%);
}

#videoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -900;
  background-image: url(../../../assets/20230815183310_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.high-container {
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.high-container h1 {
  font-size: 800%;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 10px #00000036, 1px -1px 10px #00000034,
    -1px 1px 10px #0000004b, 1px 1px 10px #ffffff49;
}

p {
  color: aliceblue;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  width: 20vw;
  height: 15vh;
  padding: 40px 40px 40px 40px;
  color: aliceblue;
  background-color: rgb(33, 31, 31);
  font-family: "Kanit", sans-serif;

  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.button:hover {
  border-color: #000000;
  background-color: #3d3d3d;
}

.low-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 100vw;
}

.features {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  padding-bottom: 10vh;
}

@media (max-width: 600px) {
  .features {
    flex-direction: column;
    align-items: center;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.feature *:not(p) {
  font-size: 300%;
  font-style: italic;
  text-align: center;
  box-shadow: 0px 0px 30px 0px #575757;
}

.title {
  font-size: 170%;
  font-style: oblique;
}

.warning {
  color: rgb(255, 255, 255);
  position: absolute;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70%;
}

.connected {
  background-color: green;
  color: white;
}

.disconnected {
  background-color: rgb(148, 0, 0);
  color: white;
}

.bakkes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.check {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}

.check button {
  font-size: large;
  width: 2vw;
  height: 5vh;
  padding: 0;
  margin: 0;
}

.bakkes .feature {
  margin-right: 0;
}
