.container {
  height: 100vh;
  width: 100vw;
  background-image: url(../../../assets/rlBack.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(55, 55, 55, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.high-container {
  height: 13vh;
  font-size: 200%;
  display: flex;
  margin-bottom: 1vh;
  margin-top: 1vh;
  flex-direction: row;
}

.options-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.high-container button {
  width: 10vw;
  font-size: 100%;
  font-family: "Kanit", sans-serif;
  border: 1px solid black;
  background: #c7c7c7;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

.high-container button:hover {
  background: rgba(103, 103, 103, 0.732);
  color: white;
}

.high-container button.selected {
  border: 1px solid rgb(0, 0, 0);
  background: rgba(103, 103, 103, 0.732);
  color: white;
}

.middle-container {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.bar {
  padding: 0.5%;
  height: 60vh;
  width: 13.5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(243, 243, 243, 0.4);
  margin-right: 2vw;
  margin-left: 2vw;
}

.bar button {
  font-size: 200%;
  font-style: bold;
  width: 6vh;
  height: 5vh;
  border: 1px solid black;
  background-color: rgba(245, 245, 245, 0.875);
  margin-bottom: 0.6vh;
  
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

.bar button:hover {
  border: 3px solid rgba(245, 245, 220, 0.8);
  background-color: rgb(132, 117, 107, 0.2);
  color: white;
}

.bar button.selected {
  border: 3px solid rgba(245, 245, 220, 0.8);
  background-color: rgb(132, 117, 107, 0.2);
  color: white;
}

.draw-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
}

.draw-button-container button {
  font-size: 200%;
  font-style: bold;
  width: 6vh;
  height: 5vh;
  border: 1px solid black;
  background-color: rgba(245, 245, 245, 0.875);
}

.draw-button-container img {
  width: 100%;
  height: 100%;
}

.extra-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.extra-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30%;
}

.extra-buttons button {
  width: 2vw;
  height: 2vh;
}

.low-container {
  height: 1vh;
  margin: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.low-container div button:hover {
  border: 2px solid black;
  background-color: rgb(132, 117, 107);
}

.low-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.low-container div button {
  border-style: solid;
  width: 25vw;
  padding: 20px 40px 20px 40px;
  color: aliceblue;
  font-size: 180%;
  letter-spacing: 0.3em;
  background-color: rgb(33, 31, 31);
  font-family: "Kanit", sans-serif;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

.back {
  font-size: 180%;
}

.back button {
  position: absolute;
  top: 2vh;
  left: 6vw;
  width: 11vw;
  font-size: 100%;
  font-family: "Kanit", sans-serif;
  border: 1px solid black;
  background: #c7c7c7;
  height: 7vh;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

.back button:hover {
  background: rgba(103, 103, 103, 0.732);
  color: white;
}

.map-container {
  position: relative;
  height: 65vh;
  width: 57vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  background-color: rgba(245, 245, 220, 1);
  width: 100%;
  height: 100%;
  border-radius: 10%;
  overflow: hidden;
  box-shadow: 15px 0px 30px 0px rgba(0, 0, 0, 0.75),
    -15px 0px 30px 0px rgba(0, 0, 0, 0.75);
}
