<div class="back">
  <button routerLink="/home" (click)="back()">Back</button>
</div>
<div class="container">
  <div class="high-container">
    <div class="options-container">
      <button [ngClass]="{ selected: optionChosen === 1 }" (click)="option1()">
        {{ optionChosen === 1 ? "🎲" : "1s" }}
      </button>
      <button [ngClass]="{ selected: optionChosen === 2 }" (click)="option2()">
        {{ optionChosen === 2 ? "🎲" : "2s" }}
      </button>
      <button [ngClass]="{ selected: optionChosen === 3 }" (click)="option3()">
        {{ optionChosen === 3 ? "🎲" : "3s" }}
      </button>
    </div>
  </div>
  <div class="middle-container">
    <div class="bar" [ngClass]="{ 'non-clickable-button': isAnimated }">
      <div
        class="frame"
        (click)="frame(i)"
        *ngFor="let item of frames; index as i"
      >
        <button
          class="frame-name"
          (click)="toggleEdit(i)"
          *ngIf="this.mapManagerService.frameSelected === i && !isAnimated"
        >
          ✎
        </button>
        <button
          *ngIf="!isEditing[i]"
          [disabled]="isAnimated"
          class="frame-item"
          [ngClass]="{ selected: this.mapManagerService.frameSelected === i }"
        >
          {{ item }}
        </button>
        <input
          #nameEdit
          *ngIf="isEditing[i]"
          [disabled]="isAnimated"
          [ngClass]="{ selected: this.mapManagerService.frameSelected === i }"
          (blur)="toggleEdit(i); nameFrame($event, i)"
        />
        <button
          class="frame-supress"
          (click)="deleteFrame(i)"
          *ngIf="
            i !== 0 && this.mapManagerService.frameSelected === i && !isAnimated
          "
        >
          ⌫
        </button>
      </div>
      <button
        class="add-frame"
        (click)="addFrame()"
        *ngIf="this.frames.length < 8 && !isAnimated"
      >
        ✚
      </button>
      <div class="animate draw-button-container">
        <button (click)="this.animate()" [disabled]="isAnimated">▷</button>
        <button (click)="this.openAnimeDialog()" *ngIf="!isAnimated && lastGif">
          ⇓
        </button>
      </div>
      <div class="slider-container">
        <div class="slider">
          <div class="slider-labels">
            <span class="left">Slow</span>
            <span class="right">Fast</span>
          </div>
          <input
            type="range"
            min="0.2"
            max="3"
            value="1"
            step="0.1"
            id="mySlider"
            [(ngModel)]="mapManagerService.animSpeed"
          />
        </div>
        <span class="slider-value">{{ mapManagerService.animSpeed }}</span>
      </div>
    </div>
    <app-board-map />
    <div class="bar">
      <div class="draw-button-container">
        <button
          (click)="
            this.mapManagerService.toggleDrawingMode(this.drawingMode);
            this.drawingMode = !this.drawingMode
          "
          class="draw-button"
          [ngClass]="{ selected: drawingMode }"
          #drawButton
        >
          ✎
        </button>
        <div class="extra-buttons-container">
          <div class="extra-buttons" *ngIf="drawingMode">
            <button
              (click)="
                this.mapManagerService.changeBrushColor('red');
                this.brushColor = 'red'
              "
              [ngClass]="{ selected: brushColor.includes('red') }"
            >
              🔴
            </button>
            <button
              (click)="
                this.mapManagerService.changeBrushColor('blue');
                this.brushColor = 'blue'
              "
              [ngClass]="{ selected: brushColor.includes('blue') }"
            >
              🔵
            </button>
            <button
              (click)="
                this.mapManagerService.changeBrushColor('green');
                this.brushColor = 'green'
              "
              [ngClass]="{ selected: brushColor.includes('green') }"
            >
              🟢
            </button>
          </div>
          <div class="extra-buttons" *ngIf="drawingMode">
            <button
              (click)="
                this.mapManagerService.changeBrushSize(2); this.brushSize = 2
              "
              [ngClass]="{ selected: brushSize === 2 }"
            >
              S
            </button>
            <button
              (click)="
                this.mapManagerService.changeBrushSize(8); this.brushSize = 8
              "
              [ngClass]="{ selected: brushSize === 8 }"
            >
              M
            </button>
            <button
              (click)="
                this.mapManagerService.changeBrushSize(16); this.brushSize = 16
              "
              [ngClass]="{ selected: brushSize === 16 }"
            >
              L
            </button>
          </div>
        </div>
        <button class="eraser" (click)="clear()">⌫</button>
      </div>
      <div class="draw-button-container">
        <button
          (click)="this.mapManagerService.toggleGrid(this.gridMode)"
          (click)="this.gridMode = !this.gridMode"
          [ngClass]="{ selected: gridMode }"
        >
          ▒
        </button>
      </div>
      <div class="draw-button-container">
        <button (click)="toggleBall()" [ngClass]="{ selected: ballMode }">
          <img src="assets/ball1.png" />
        </button>
      </div>
      <div class="draw-button-container">
        <button (click)="togglePlayers()" [ngClass]="{ selected: playersMode }">
          <img src="assets/car.png" />
        </button>
      </div>
      <div class="draw-button-container">
        <button (click)="this.mapManagerService.toggleFOVs(optionChosen*2);" [ngClass]="{ selected: playersMode }">
          <img src="assets/Angle_RLBV.png" />
        </button>
      </div>
      <div class="draw-button-container">
        <button (click)="this.mapManagerService.toggleTracing();" [ngClass]="{ selected: this.mapManagerService.traceEnabled }">
          ToggleTrace
        </button>
      </div>
      <div class="draw-button-container">
        <button (click)="this.mapManagerService.clearTraces();">
          ClearTrace
        </button>
      </div>

      <!-- <div
        [hidden]="mapManagerService.playerSheet.isSelected"
        class="player-sheet"
      >
        <div class="player-image">
          <img [src]="mapManagerService.playerSheet.image" />
        </div>
        <div class="player-attributes">
          <div class="player-name"> 
            {{ mapManagerService.playerSheet.name }}
          </div>
          <div class="player-color">
            {{ mapManagerService.playerSheet.color }}
          </div>
          <div class="player-angle">
            <svg
              width="100"
              height="100"
              (mousedown)="onMouseDown($event)"
              (mouseleave)="this.dragging = false"
              (mousemove)="onMouseMove($event)"
              (mouseup)="onMouseUp()"
            >
              <circle cx="50" cy="50" r="30" stroke="black" stroke-width="3" />
              <line #angleLine x1="50" y1="50" x2="50" y2="20" />
            </svg>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <!-- <div class="low-container">
    <div class="donate">
      <button class="donate-btn button" (click)="donate()">Arise</button>
      <p>
        * All funds received through donations will be invested directly into
        the ongoing development of the tool *
      </p>
    </div>
  </div> -->
</div>
