.replay-container {
  margin: auto;
  margin-top: 3em;
  border: 30px;
  border-radius: inherit;
  border-style: dotted;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(255, 128, 0), 
      rgb(0, 153, 255)
    ) 2 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 503px;
  width: 398px;
  background-color: #558152;
}

.slide-container {
  margin: auto;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aquamarine;
}